<div class="archive-container">
  <%- partial('_partial/header', {}, { cache: true }) %>
  <% if (theme.nav === 'left'){ %>
    <hr class="header-hr header-hr-left"/>
  <% } else { %>
    <hr class="header-hr"/>
  <% } %>
  <%- partial('_partial/archive', {pagination: config.archive, index: true}) %>
</div>
