<!DOCTYPE html>
<html lang="<%=config.language%>">
<%- partial('partials/head') %>
<body>

<div id="container" class="container">
  <%- body %>
</div>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(function(url) { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>

</body>
</html>
