<%- partial('_partial/head') %>
  <% if (is_home()) { %>
    <body class="home-body">
  <% } else {%>
    <body>
  <% } %>
      <div id="container" class="container">
        <%- body %>
      </div>
      <%- partial('_partial/footer') %>
      <%- partial('_partial/after-footer') %>
    </div>
  </body>
</html>
