@import "typo.css";
@import "normalize.css";

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source sans pro, proxima nova, sans-serif;
  -moz-font-feature-settings: "liga" on;
  transition: all 250ms ease;
}

body {
  font-size: 20px;
}

a {
  color: #222;
  /* font-weight: 200; */
  text-decoration: none;
  border-bottom: solid 1px #eee;
  transition: color 250ms linear;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  color: #22C5E5;
  border-bottom: solid 1px RGBA(34, 197, 229, .2);
  transition: color 100ms linear
}

em {
  font-style: italic;
  font-weight: lighter;
}

.home-footer {
  padding: 50px 0;
}

.archive-footer, .post-footer {
  padding: 50px;
  margin: 0 auto;
  hr {
    height: 1px;
    border: 0;
    background-image: -webkit-linear-gradient(0deg, transparent, #d5d5d5, transparent);
  }
  color: ##cacdd0;
  a, b, strong {
    color: #aeb4b9;
  }

}

.archive-footer {
  max-width: 500px;
  width: 100%;
}

.post-footer {
  width: 60%;
}


.container {
  width: 100%;
}

.copyright, .footer-content {
  text-align: center;
  width: 100%;
  font-size: 80%;
  color: #cacdd0;
  /* opacity: .6; */
  li {
    display: inline-block;
  }

  a {
    color: #aeb4b9;
  }
  a:hover {
    color: #22C5E5;
  }
}

.footer-content {
  text-align: left;
}


.home {
  font-weight: lighter;
  color: #505050;
  line-height: 1.4;
  text-align: center;
  position: relative;
  padding-top: 10%;

  .content {
    width: 60%;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
  }

  h1,
  strong {
    color: #222;
  }

  hr {
    height: 1px;
    border: 0;
    width: 80%;
    max-width: 300px;
    margin: 20px auto;
    background-image: -webkit-linear-gradient(0deg, transparent, #d5d5d5, transparent);
  }

  li {
    list-style: none;
  }

  .profile {
    width: 100%;

    h1 {
      font-weight: 300;
    }
  }

  .links {
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 5px;
    }
  }
}


.archive-container {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  line-height: 1;
  text-align: left;
  font-size: 16px;
  padding-top: 50px;

  article {
    margin-bottom: 15px;
  }

  a {
    border: 0;
  }
  a:hover {
    border: 0;
  }

  .header {
    font-size: 18px;
    .main-nav-link {
      margin-right: 10px;
      color: #777;
    }
  }

  .archive-article-header {
    > a, > h1 {
      display: inline-block;
      vertical-align: middle;
    }
    > a {
      width: 20%;
    }
    > h1 {
      width: 79%;
    }

    h1 {
      font-size: 100%;
      margin: 0;
    }
  }

  hr {
    height: 1px;
    border: 0;
    width: 50%;
    /* max-width: 100px; */
    background-image: -webkit-linear-gradient(0deg, #d5d5d5, #d5d5d5, transparent);
    margin: 20px 0 40px 0;
  }


  .archive-article-date {
    font-size: 80%;
    color: #aaa;
  }
  .archive-article-title {
    font-weight: 200;
  }

  .archive-year-wrap {
    margin-bottom: 20px;
  }

  .page-nav {
    text-align: center;
    margin-top: 30px;
    color: #aeb4b9;
    a {
      color: #777;
    }
    hr {
      margin: 20px 0 30px 0;
    }
  }

  .page-number,
  .extend {
    margin-right: 15px;
  }
}


.article {
  width: 60%;
  margin: 100px auto;
  /* font-size: 16px; */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
  }

  .article-title {
    font-size: 2.5em;
  }

  .article-nav-link-wrap {
    display: inline-block;
  }
}



/* tablet */

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  .home {
    padding-top: 20%;
  }
}


/* mobile */

@media (max-width: 468px) {
  body {
    font-size: 16px;
  }

  .home {
    color: #222;
    a {
      color: #111;
    }
  }
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
}