@import "typo.css";
@import "normalize.css";


$black-normal: #505050;
$black-bold: $111;
$black-light: #222;
$grey: #aeb4b9;
$grey-bold: #777;
$grey-light: #cacdd0;
$scooter: #22C5E5;

html,
body {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6 {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: source sans pro, proxima nova, sans-serif;
  -moz-font-feature-settings: "liga" on;
  transition: all 250ms ease;
}

body {
  font-size: 20px;
}

@define-extend a-hover {
  color: $scooter;
  border-bottom: solid 1px RGBA(34, 197, 229, .2);
  transition: color 100ms linear
}

a {
  color: $black-light;
  /* font-weight: 200; */
  text-decoration: none;
  border-bottom: solid 1px #eee;
  transition: color 250ms linear;
  cursor: pointer;
}
a:hover {
  text-decoration: none;
  @extend a-hover;
}

em {
  font-style: italic;
  font-weight: lighter;
}

@define-extend hr-base {
  height: 1px;
  border: 0;
  background-image: -webkit-linear-gradient(0deg, transparent, #d5d5d5, transparent);
}

.home-footer {
  padding: 50px 0;
}

.archive-footer, .post-footer {
  margin: 0 auto;
  padding: 50px;
  hr {
    @extend hr-base;
  }
  color: $grey-light;
  a, b, strong {
    color: $grey;
  }

}

.archive-footer {
  max-width: 500px;
  width: 100%;
}

.post-footer {
  width: 60%;
}


.container {
  width: 100%;
}

.copyright, .footer-content {
  text-align: center;
  width: 100%;
  font-size: 80%;
  color: $grey-light;
  /* opacity: .6; */
  li {
    display: inline-block;
  }

  a {
    color: $grey;
  }
  a:hover {
    color: $scooter;
  }
}

.footer-content {
  text-align: left;
}


.home {
  font-weight: lighter;
  color: $black-base;
  line-height: 1.4;
  text-align: center;
  position: relative;
  padding-top: 10%;

  .content {
    width: 60%;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
  }

  h1,
  strong {
    color: $black-light;
  }

  hr {
    @extend hr-base;
    width: 80%;
    max-width: 300px;
    margin: 20px auto;
  }

  li {
    list-style: none;
  }

  .profile {
    width: 100%;

    h1 {
      font-weight: 300;
    }
  }

  .links {
    padding: 0;
    text-align: center;
    li {
      display: inline-block;
      margin: 0 5px;
    }
  }
}


.archive-container {
  width: 60%;
  max-width: 500px;
  margin: 0 auto;
  position: relative;
  line-height: 1;
  text-align: left;
  font-size: 16px;
  padding-top: 50px;

  article {
    margin-bottom: 15px;
  }

  a {
    border: 0;
  }
  a:hover {
    border: 0;
  }

  .header {
    font-size: 18px;
    .main-nav-link {
      margin-right: 10px;
      color: $grey-bold;
    }
  }

  .archive-article-header {
    > a, > h1 {
      display: inline-block;
      vertical-align: middle;
    }
    > a {
      width: 20%;
    }
    > h1 {
      width: 79%;
    }

    h1 {
      font-size: 100%;
      margin: 0;
    }
  }

  hr {
    width: 50%;
    /* max-width: 100px; */
    margin: 20px 0 40px 0;
    @extend hr-base;
  }


  .archive-article-date {
    font-size: 80%;
    color: $grey-light;
  }
  .archive-article-title {
    font-weight: 200;
  }

  .archive-year-wrap {
    margin-bottom: 20px;
  }

  .page-nav {
    text-align: center;
    margin-top: 30px;
    color: $grey;
    a {
      color: $grey-bold;
    }
  }

  .page-number,
  .extend {
    margin-right: 15px;
  }
}


.article {
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  /* font-size: 16px; */
  h1, h2, h3, h4, h5, h6 {
    font-weight: bolder;
  }

  .article-title {
    font-size: 2.5em;
  }

  a.fancybox,
  a.fancybox-item {
    border: 0;
  }

  .caption {
    color: $grey;
    display: block;
    font-size: 14px;
    text-align: center;
  }

  .article-entry {
    img {
      display: block;
      margin: auto;
    }
  }

  .article-nav {
    max-width: 100%;
    margin-top: 50px;
    font-size: 80%;
  }
  .article-nav-link-wrap {
    display: inline-block;
    color: $grey;
    padding: 0 10px;
    width: 49%;
    box-sizing: border-box;
    vertical-align: top;
    border: 0;
    &:hover {
      @extend a-hover;
      border-bottom: 0;
    }
    strong {
      color: $grey-bold;
    }
  }
  .article-nav-link-wrap.newer {
    text-align: right;
  }
  .article-nav-link-wrap.older {
    text-align: left;
  }

  .article-footer {
    margin-top: 50px;
    hr {
      margin-top: 50px;
      @extend hr-base;
    }
  }

  .article-meta {
    font-size: 80%;
    color: $grey;
    a {
      color: $grey-bold;
    }
    .label {
      margin-right: 10px;
    }
    .article-tag-list, .article-category {
      display: inline-block;
    }
    .article-tag-list-item {
      display: inline-block;
      margin-right: 5px;
      &:before {
        content: '#';
      }
    }
  }
}


.article-type-page {
  .article-footer {
    display: none;
  }
}



/* tablet */

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }
  .home {
    padding-top: 20%;
  }
}


/* mobile */

@media (max-width: 468px) {
  body {
    font-size: 16px;
  }

  .home {
    color: $black-light;
    a {
      color: $black-bold;
    }
  }
}

@media (max-width: 320px) {
  body {
    font-size: 12px;
  }
}