<header id="header" class="header">
    <div class="mobile-nav">
      <h1 class="nickname"><%= theme.nickname %></h1>
      <a id="menu">
        &#9776; Menu
      </a>
    </div>
    <% if (theme.nav === 'left') { %>
        <nav id="main-nav" class="main-nav nav-left">
    <% } else { %>
        <nav id="main-nav" class="main-nav">
    <% } %>
    <% for (var i in theme.menu){ %>
      <a class="main-nav-link" href="<%- url_for(theme.menu[i]) %>"><%= i %></a>
    <% } %>
  </nav>
</header>
